.App {
  text-align: center;
  padding: 20px;
}

.question-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button:first-child {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .question-container {
    flex-direction: row;
  }

  .image-container {
    flex-basis: 50%;
  }

  .answer-container {
    flex-basis: 50%;
  }
}

.vertical-list-item {
  display: flex;
  flex-direction: column;
}

.correct-answers {
  margin-left: 1.4rem !important;
}